---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import PortfolioPreview from '../components/PortfolioPreview/index.jsx';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];
const name = {
  first: 'Mikael',
  sur: 'Dahlgren',
  get full() {
    return this.first + ' ' + this.sur;
  }
}
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead title={name.full + ': Portfolio'} description={name.full + ': Frontend Developer'} />
	</head>
	<body>
		<Nav />
		<header class="hero">
				<h1 class="title">
					Creating engaging <br> web experiences. 
				</h1>
		</header>
		<main class="wrapper mt4 mb4">
			<div class="grid">
				<div class="section">
					<h3 class="sectionTitle">
						Frontend Development
					</h3>
					<p>
						Lorem Ipsum
					</p>
				</div>
				<div class="section">
					<h3 class="sectionTitle">
						UX / UI Design
					</h3>
					<p class="bio">
						Lorem Ipsum
					</p>
					<p>
						<a href="/about">
							<Button>Learn more</Button>
						</a>
					</p>
				</div>
			</div>
		</main>
	</body>
</html>
