---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';

const name = {
  first: 'Mikael',
  sur: 'Dahlgren',
  get full() {
    return this.first + ' ' + this.sur;
  }
}
---

<html lang="en">
	<head>
		<MainHead title={name.full + ': Portfolio'} description={name.full + ': Frontend Developer'} />
	</head>
	<body>
		<Nav />
		<header class="hero">
				<h1 class="title">
					Creating engaging <br> web experiences. 
				</h1>
		</header>
		<main class="wrapper mt4 mb4">
			<div class="grid">
				<div class="section">
					<h3 class="sectionTitle">
						Frontend Development
					</h3>
					<p>
						Professional experience since 2021, first line of javascript was written in early 2010's.
						Code should be readable, sustainable and efficient.
					</p>
				</div>
				<div class="section">
					<h3 class="sectionTitle">
						UX / UI Design
					</h3>
					<p class="bio">
						My prior experience as an UX designer have made communication with designers on the team effortless and fun.
					</p>
					<p>
						<a href="/about">
							<Button>Learn more</Button>
						</a>
					</p>
				</div>
			</div>
		</main>
	</body>
</html>
